@forward "utilities";
@forward "components";
@forward "layouts";

html {
  user-select: text;
  -webkit-tap-highlight-color: transparent;

  ::selection {
    background-color: var(--primary-300);
  }
}

body {
  min-height: 100dvh;
  color: var(--text);
  background: var(--bg);

  main {
    display: flex;
    flex-direction: column;
    gap: 1.2rem;
    min-height: calc(100dvh - 62px);
    padding: 1rem;
    overflow: hidden auto;

    @media (min-width: 500px) {
      gap: 1.8rem;
      min-height: calc(100dvh - 67.19px);
    }
  }
}

.container {
  max-width: 800px;
  margin-inline: auto;
}
