@forward "utilities";
@forward "components";
@forward "layouts";

body {
  min-height: 100dvh;
  color: var(--text);
  background: var(--bg);

  main {
    padding: 1rem;
  }
}

.container {
  max-width: 800px;
  margin-inline: auto;
}
