.landing-section {
  display: grid;
  place-content: center;
  text-align: center;
  flex: 1 1 100%;
  font-size: 1rem;

  svg {
    font-size: 6em;
  }

  h1 {
    font-size: 2em;
    margin-block: 1.5rem 0.8rem;
  }

  p {
    font-size: 0.9em;
    margin: 0;
    opacity: 0.7;
  }

  @media (min-width: 500px) {
    font-size: 1.2rem;
  }
}
